{% extends "base.html" %}

{% block content %}
<h1 class = "my-5"> CodeWhisperX : All Notes! </h1>

        <div class="row row-cols3 g-2">
            {% for note in notes %}
            <div class="col">
                <div class="p-3 border">
                    <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non">
                    {% comment %} <a href = "{% url 'notes.list' %}" class = "btn btn-primary"> Check out these smart notes! </a> {% endcomment %}
                    <h3>{{note.title}}</h3>
                    </a>
                    {{note.text|truncatechars:10}}
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}



{% comment %} initial HTML {% endcomment %}

{% comment %} <html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{%static 'css/style.css' %}"/>
    </head>
    <h1> These are the notes: </h>
    
        <ul>
            {% for note in notes %}
                <li class="note-li" > {{note.title}}</li>
            {% endfor %}
        </ul>

</html> {% endcomment %}